

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #333;

  
}
.container h2 {
  margin-bottom: 20px;
  color: black;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="number"],
.container input[type="date"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 1px 0 30px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff; /* Branco */
  color: #000000 !important; /* Preto */
}

.container input[type="submit"] {
  background-color: #4CAF50;
  color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container input[type="submit"]:hover {
  background-color: #45a049;
}
.container label{
  color: black;
  text-indent: 0%;
}
.container p{
  color: black;
  text-indent: 0%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Isso pode ajudar a tornar o ícone visível */
}
input[type="password"] {
  -webkit-appearance: none; /* Remove aparência padrão do navegador */
  appearance: none;
}


 .container1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.container1 input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
} 

.error-message {
  color: red; /* Troque "red" pela cor que preferir */
  font-weight: bold; /* Opcional para destaque */
  font-size: 18px; /* Ajuste conforme necessário */
}

.mybutton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 6px 0 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}
