@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-400 text-black dark:bg-zinc-900 dark:text-white;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium transition-colors;
  background-color: grey;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #1a1a1a;
  }
}
